{% extends "base.html" %}

{% block title %}Upload Successful - Kernversion{% endblock %}

{% block content %}

<!-- Header -->
<header class="py-5" style="background: linear-gradient(to right, #3f77da, #a4c7e2); color: #fff;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-4 fw-bold">Upload Successful</h1>
            <p class="lead fw-normal text-light mb-0">Your PDF has been uploaded successfully.</p>
        </div>
    </div>
</header>

<h3>Here you will see final kern file </h3>

{% endblock %}